/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*barra-nav/header*/
.nav-color{
    background-color: black;
}
.comunidad{
    color: hsla(107, 98%, 49%, 0.872);
    background-color: black;
}
.asesor{
    color:
    rgba(128, 255, 0, 0.799);
}
.ga-color{
    background: rgb(24, 78, 15);
    background: linear-gradient(90deg, rgba(15,78,47,0.9336776947106968) 41%, rgba(16,220,18,0.57513427734375) 81%);
}
.menu-color{
    background-color: black;
}

/*main/asesoriapersonalizada*/
.gaaf-1{
    background-color: black;
    margin-top: 120px;
    padding: 20px;
}
.p-flex{
    font-family: 'reboto',sans-serif;
    font-size: 25px;
    color:#0feb16c4;
    margin-bottom: 15px;
    text-align:left;
}
.p-principal{
    color:rgba(255, 255, 255, 0.783);
    text-align:justify;
    margin-bottom: 25px;
    font-size: 35px;
}
.p-asesoria{
    margin-top: 20px;
    padding-left: 150px;
}
.p-secundario{
    color:rgba(217, 240, 11, 0.783);
    text-align:justify;
    font-size: 15px;
}
.experiencia{
    background-color: black;
    color:#3cb548;
    border:1px solid #9f3cb5;
    margin-bottom: 20px;
}
.diseño-img{
    border-radius: 10px;
    border:1px solid #9f3cb5;
}
/*main/tienda*/
.tienda-1{
    padding-top: 120px;
}
/*main/asesoria*/
.asesoria-1{
    padding-top: 120px;
}
.imagen-fondo{
    background-image: url("https://www.all4shooters.com/de/shooting/waffenkultur/deutsche-ipsc-rifle-meisterschaft-2016/deutsche-ipsc-rifle-meisterschaft-2016-stefan-foell.jpg?cid=acx.2eh&resize=44bb34:900x500c");
}
.asesoria-2{
    height: 300px;
}
.p-asesorador{
    margin-top: 170px;
    font-size: 50px;
    color: #15ea2a;
}
.conocimiento-1{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 25px;
}
.posesión{
    height: 300px;
}
.posesión-1{
    background-color: black;
    height: 300px;
}
.p-domicilio{
    font-size: 35px;
    padding-top: 80px;
    color: #15ea2a;
}
.p-domicilio1{
    font-size: 15px;
    color:rgba(255, 255, 255, 0.783);
    text-align: center;
}
.p-portación{
    font-size: 35px;
    padding-top: 80px;
}
.p-portacion1{
    font-size: 15px;
    text-align: center;
}
.p-portación2{
    padding-top: 150px;
}
.transportacion{
    height: 300px;
}
.transportacion1{
    height: 300px;
}
.p-transportación{
    font-size: 35px;
    padding-top: 80px;
}
.p-transportacion{
    font-size: 15px;
    text-align: center;
}
.cartilla{
    height: 300px;
    background-color: black;
}
.p-cartilla{
    font-size: 35px;
    padding-top: 80px;
    color: #15ea2a;
}
.p-cartilla1{
    font-size: 15px;
    color:rgba(255, 255, 255, 0.783);
    text-align: center;
}
.ideas{
    padding-bottom: 30px;
    padding-top: 30px;
}
.p-dcam{
    font-size: 35px;
    color:blueviolet;
    padding-top: 80px;
}
/*main registro*/
.poseer{
    background-color:black;
    color:rgba(255, 255, 255, 0.783);
    height:200px;
    text-align:justify;
    padding-top: 50px;
    list-style: none;
}
.poseer-1{
    text-align: center;
    font-size: 20px;
    color:blueviolet;
}
.autorizado{
    text-align: center;
}
.requisitos{
    background-color: black;
}
.requisitos-1{
    font-size: 20px;
    color: blueviolet;
}
.lista-1{
    list-style: none;
    text-align: left;
    padding-left: 90px;
}
.requisitos-2{
    background-color: azure;
}
.requisitos-3{
    color:black;
    font-size: 20px;
    padding-top: 30px;
}
.requisitos-4{
    color:rgba(255, 255, 255, 0.783);
}
.requisitos-5{
    color: black;
}
/*main portación*/
.portacion-1{
    background-color: black;
    padding-top: 80px;
}
/*concienciacion*/
.gaaf-2{
    background-color: black;
    color:rgba(255, 255, 255, 0.783);
    padding-top: 40px;
    padding-bottom: 50px;
}
.concienciacion{
    text-align: center;
    padding: 15px;
    font-size: 15px;
}
.comilleo{
    color: hsla(107, 98%, 49%, 0.872);
}
/*negocios*/
.destacados{
    background-color: black;
}
.destacados-1{
    font-size: 30px;
    color: hsla(107, 98%, 49%, 0.872);
}

.tarjeta-1{
    background-color:black;
    padding-left: 60px;
}


/*asesoria profesional*/
.gaaf-3{
    background-color: black;
    color: rgb(128, 141, 16);
}
.jambo{
    background-color: rgba(217, 240, 11, 0.781);
    color: rgb(0, 0, 0);
    height:230px;
    text-align:justify;
    padding-top: 15px;
    list-style: none;
}
.icon{
    padding-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.jambo-1{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.jambo-2{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}
.jambo-3{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}
/*experiencia*/
.gaaf-4{
    background-color: black;
    padding-top: 40px;
}

/*especialista*/
.gaaf-5{
    background-color: black;
    padding-top: 15px;
}
.proteccion{
    font-size: 15px;
    color:rgba(217, 240, 11, 0.783);
    text-align:justify;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-top: 10px;
}
/*3palestres*/
.gaaf-6{
    background-color: black;
    padding-top: 50px;
}
.tres-p{
    font-size: 33px;
    color:rgba(255, 255, 255, 0.783);
}
/*club cinegetico*/
.gaaf-7{
    background-color: black;
}
.cinegetico{
    color:rgba(255, 255, 255, 0.783);
    font-size: 45px;
    padding-top: 15px;
}
.club{
    color: rgb(128, 141, 16);
    text-align: justify;
}
/*valiosa*/
.gaaf-8{
    background-color: black;
    padding-top: 50px;
}
.luna-sol{
    background-color: rgba(217, 240, 11, 0.781);
    color: rgb(0, 0, 0);
    height: 200px;
    text-align:left;
    padding-top: 20px;
    list-style: none;
}
.jambo-4{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 30px;
}
/*smn*/
.gaaf-9{
    background-color: black;
    padding-top: 20px;
}
.cartilla{
    color:rgba(255, 255, 255, 0.783);
    font-size: 45px;
}
.militar{
    color: rgb(128, 141, 16);
    text-align:justify;
}
/*spicologico*/
.gaaf-10{
    background-color: black;
    padding-top: 20px;
}
.certificado{
    color:rgba(255, 255, 255, 0.783);
    font-size: 45px;
}
.spicologico{
    font-size: 17px;
    color: rgb(128, 141, 16);
    text-align: justify;
}
/*carrusel-atonito*/
.carrusel{
    background-color: black;
    padding-top:50px;
    padding-bottom: 30px;
}
.practica{
    padding-left: 150px;
    padding-right: 150px;
}
.practica-1{
    height: 230px;
}
.atonito{
    font-size: 25px;
    color:rgb(255, 255, 255);
}
.atonito-1{
    font-size: 10px;
    color:rgb(255, 255, 255);
}
/*carrusel-tienda*/
.fabrica-1{
    background-color: black;
}
.tiket-1{
    height: 350px;
    padding-bottom: 30px;
}
.tiket-2{
    font-size:30px;
    color:blueviolet;
}
/*practica tiro*/
.gaaf-11{
    background-color:black;
    padding-top: 20px;
}
.basico{
    font-size: 15px;
    color: hsla(107, 98%, 49%, 0.872);
    padding-top: 10px;
    padding-bottom: 10px;
}
.violeta{
    color: blueviolet;
}
/*taller*/
.gaaf-12{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.taller{
    color:rgba(255, 255, 255, 0.783);
    font-size: 35px;
}
.reparacion{
    font-size: 17px;
    color: rgb(128, 141, 16);
    text-align: justify;
}
/*cartilla militar*/
.gaaf-13{
    background-color: black;
    padding-top: 20px;
}
.nublado{
    background-color: rgba(217, 240, 11, 0.781);
    color: rgb(0, 0, 0);
    height: 230px;
    text-align:left;
    padding-top: 20px;
    list-style: none;
}
/*vidio/presentacion*/
.vidio{
    background-color: black;
    padding-top: 20px;
}
.proyeccion{
    padding-top: 60px;
}
/*colaboracion*/
.colaboracion{
    background-color: black;
    padding-top: 80px;
}
.apoyo{
    color:rgba(255, 255, 255, 0.783);
    font-size: 35px;
}
.compañeros{
    font-size: 17px;
    color: rgb(128, 141, 16);
    text-align: justify;
    padding-left: 25px;
    padding-right: 30px;
}
/*footer/suscripción*/
.suscripcion{
    background-color: black;

}
.inscripcion{
    padding-top: 80px;
}
.label{
    display: block;
    color: white;
    text-align: right;
    font-size: 15px;
    padding-right: 105px;
    
}
.texto-footer{
    color:blueviolet;
    text-align: center;
    padding-top: 25px;
}
.lista-footer{
    text-align: center;
}
.contenedor-footer{
    padding-top: 5px;
    list-style: none;
    font-size: 15px;
}
.redes-footer{
    display: inline-block;
}
.redes-nav{
    list-style: none;
}
/*asignaciones*/
a{
    color:lime;
    font-family: 'reboto',sans-serif;
    text-decoration: none;
    justify-content: space-between;
    padding-inline: 5px;
}


@media screen and (min-width:768px){
    .p-flex{
        font-family: 'reboto',sans-serif;
        font-size: 25px;
        color:blueviolet;
        margin-bottom: 15px;
        text-align:left;
    }
}
@media screen and (min-width: 992px){
    .grilla-gaaf{
        display: grid;
        gap:8px;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        "header nav-header"
        "aside aside"
        "main main"   
        "footer footer";
    }
    .barra-lista{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .p-asesoria{
        margin-top: 20px;
        padding-left: 200px;
    }
    .lista-footer{
        text-align: left;
    }
}




/*tipografia font-family: 'Anek Latin', sans-serif;
font-family: 'Roboto', sans-serif; */